node-linker=hoisted
public-hoist-pattern[]=*babel*
public-hoist-pattern[]=*expo*
public-hoist-pattern[]=*react-native*
public-hoist-pattern[]=axios
public-hoist-pattern[]=*tanstack*
public-hoist-pattern[]=jotai
public-hoist-pattern[]=react
public-hoist-pattern[]=react-native
